
body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.footer {
    text-align: center;
}



.distance {
    border-spacing: 10px 10px;
}

.topbutton {
    width: 100px;
    border: 2px solid #ccc;
    background: #f7f7f7;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    color: #333;
    font-family: verdana;
    font-size: 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


img {
    max-width: 100%;
    height: auto;
}

.image {
    text-align: center;
}

.name {
    width: 40%;
    text-align: right;
}

tbody {
    border: 5px solid grey;
}

.text-width,
table {
    word-wrap: break-word;
}

.dateright {
    text-align: right;
}


.distance,
.tableborder {
    background-color: #E0FFFF;
}

p {
    margin-left: 2%;
}

.distance {
    border: 1px solid #CCCCCC;
    width: 89%;
    border-radius: 12px;
    margin: 0.7em auto;
    margin-left: 0;
}

.topname {
    font-weight: bold;
    font-size: 110%;
    text-align: left;
    margin-top: 3%;
    margin-bottom: 3%;
}

h4 {
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 140%;
    font-weight: bold;
}

.title {
    font-size: 100%;
    font-weight: bold;
    padding-right: 0;
}

.titlename {
    width: 900%;
}

.paddingleft {
    padding: 5%;
}

.btn-padding {
    margin-right: 450px;
}

.btn-warning,
.btn-primary,
.btn-danger,
.btn-success {
    color: #000000;
}

.without-padding {
    padding: 0;
    border: 0;
    background-color: #E0FFFF;
    border-color: #E0FFFF;
}

.btn-default:hover {
    background-color: #E0FFFF;
}

