@model WebApplication5.Models.ModelModel

<div class="jumbotron">


    <div class="form-group">
        @*@Ajax.ActionLink(
                "load partial view",
                "PartialView",
                "Home",
                new AjaxOptions { UpdateTargetId = "result" }
            )*@

        @Html.Partial("PartialV")
    </div>


</div>



